@import "utilites";
@import "slider";

.journal {
    padding: 90px 0;

    // .journal__content
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "first first theerd"
            "second second theerd";

        box-shadow: 0 3px 21px rgba(0, 0, 0, 0.13);
        margin-top: 70px;

        @media screen and (max-width: $mdq2+px){
            display: none;
        }
    }
}

.journal-item {
    display: grid;

    &[data-item="1"] {
        grid-area: first;
    }

    &[data-item="2"] {
        grid-area: second;
    }

    &[data-item="3"] {
        grid-area: theerd;
        grid-template-rows: repeat(2, 1fr);
    }

    &[data-item="1"],
    &[data-item="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    // .journal-item__img
    &__img {
        @include flexbox(column, center, center);
    }

    // .journal-item__content
    &__content {
        @include flexbox(column, space-between, center);
        padding: 30px 20px;
        text-align: center;
    }

    // .journal-item__description
    &__description {
        text-transform: uppercase;
        font-weight: bold;
        color: #16b5ef;
        font-size: 16px;
        margin: 20px 0;
    }

    // .journal-item__title
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 1.5px;
        font-size: 18px;
        margin: 20px 0;
    }

    // .journal-item__text
    &__text {
        color: #808080;
        line-height: 1.4;
    }

    // .journal-item__number
    &__number {
        font-family: "Times New Roman", sans-serif;
        font-style: italic;
    }
}
