@import "utilites";
/*SHOWCASE*/
.showcase {
    height: 100vh;
    padding: 50px 0 90px;
    background: url(../images/showcase-bg.jpg) center/cover no-repeat;
    // .showcase__content
    &__content {
        @include flexbox(column, space-between, center);
        text-align: center;
    }
    // .showcase__logo
    &__logo {
        color: #000;
        text-shadow: 2px 10px 10px rgba(0,0,0, 0.2);
    }
    // .showcase__title
    &__title {
        font-size: 2rem;
        margin-bottom: 10px;
        text-shadow: 2px 10px 10px rgba(0,0,0, 0.2);
        position: relative;
        padding-bottom: 15px;
        &:after {
            @include line();
            width: 110px;
            left: 50%;
    margin: 0 0 0 -55px;
        }
    }
    // .showcase__btn
    &__btn {
        font-size: 1.1rem;
        margin-bottom: 10px;
        text-decoration: none;
        color: #000;
        position: relative;
        z-index: 2;
        transition: color .3s ease;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: all .3s ease;
            background-color: #000;
            z-index: -1;
        }
        &:hover{
            color: #fff;
            &::after{
                transform: scale(1);
            }
        }
    }
    // .showcase__arrow
    &__arrow {
        i {
            position: relative;
            top: 0;
            animation: bounce .5s infinite alternate linear;
            cursor: pointer;
        }
    }
}
