.journal {
    // .journal__slider
    &__slider {
        overflow: hidden;
        box-shadow: 3px 3px 21px rgba(0, 0, 0, 0.13);
    }
}
.slider {
    // .slider__track
    &__track {
        display: flex;
    }
}
.slider-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    // .slider-item__img
    &__img {
        @include flexbox(column, center, center);
    }
    // .slider-item__content
    &__content {
        @include flexbox(column, space-between, center);
        padding: 30px 20px;
        text-align: center;
    }
    // .slider-item__description
    &__description {
        text-transform: uppercase;
        font-weight: bold;
        color: #16b5ef;
        font-size: 16px;
        margin: 20px 0;
    }
    // .slider-item__title
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 1.5px;
        font-size: 18px;
        margin: 20px 0;
    }
    // .slider-item__text
    &__text {
        color: #808080;
        line-height: 1.4;
        margin: 20px 0;
    }
    // .slider-item__number
    &__number {
        font-family: "Times New Roman", sans-serif;
        font-style: italic;
    }
}


.slider-btn {
    text-align: center;
}

.btn-prev, .btn-next {
    margin: 10px;
}

button {
    background-color: inherit;
    border: 0;
    transition: transform .3s ease;

    &:hover{
        transform: scale(0.95);
    }
}