@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    height: 100%;
}

//BOTTONS
.btn {
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

// ANIMATION
@keyframes bounce {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}

// UNDERLINE FOR TITLES OR LINKS
@mixin line() {
    content: "";
    height: 3px;
    background-color: #000;
    position: absolute;
    bottom: 0;
}

//UNDERLINED TITLE
.heading-block {
    // .heading-block__title
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    @media screen and (max-width: $mdq3+px) {
        font-size: 1.1rem;
    }
    &__title {
        position: relative;
        padding-bottom: 30px;
        @media screen and (max-width: $mdq3+px) {
            padding-bottom: 15px;
        }
        &::after {
            @include line();
            width: 100px;
            left: 50%;
            margin: 0 0 0 -50px;
            @media screen and (max-width: $mdq3+px) {
                width: 70px;
                margin: 0 0 0 -35px;
            }
        }
    }
}

// CARD
.card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    @include flexbox(column, center, center);
    transition: all 0.3s ease;
    width: 220px;
    height: 350px;

    margin: 0 auto;
    padding: 20px 20px 15px;

    @media screen and (max-width: $mdq3+px) {
        padding: 10px 15px;
        height: auto;
    }
    //.card__img
    &__img {
        color: #4e4e4e;
        @media screen and (max-width: $mdq3+px) {
            font-size: 0.8rem;
        }
    }
    // .card__title
    &__title {
        font-weight: bold;
        text-transform: uppercase;
        color: #4e4e4e;

        margin: 20px 0;
        font-size: 1.4rem;
        @media screen and (max-width: $mdq3+px) {
            font-size: 1.1rem;
            margin: 15px 0 10px;
        }
        // FOR ACCORDION
        @media screen and (max-width: $mdq4+px) {
            text-align: left;
            width: 100%;
            margin-left: 30px;
        }
    }
    // .card__text
    &__text {
        line-height: 1.4;
        color: #5e5e5e;
        @media screen and (max-width: $mdq3+px) {
            font-size: 0.8rem;
            line-height: 1.2;
        }
        // FOR ACCORDION
        @media screen and (max-width: $mdq4+px) {
            position: absolute;
            top: -100%;
            left: 0;
        }
    }
}

// POINTS ARROW
.point {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
    }
    &_right-top:after {
        top: 50px;
        right: 0;
        border-right: 10px solid #fff;
    }
    &_left-top::after {
        top: 50px;
        left: 0;
        border-left: 10px solid #fff;
    }
    &_left-bottom:after {
        left: 50px;
        bottom: 0;
        border-bottom: 10px solid #fff;
    }
}
