@mixin  flexbox($direction: "row", $justify: "flex-start", $align: "stretch") {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    height: 100%;
}

//BOTTONS
.btn {
    border: 2px solid #fff;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        transform: scale(.98);
    }
}