@mixin  flexbox($direction: "row", $justify: "flex-start", $align: "stretch") {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    height: 100%;
}

//BOTTONS
.btn {
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        transform: scale(.98);
    }
}

// ANIMATION
@keyframes bounce {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}